body.white {
  background-color: white;
  color: black;
}
body.black {
  background-color: black;
  color: white;
}
img {
  float: left;
}
header {
  border-bottom: 1px solid gray;
  padding: 20px;
}
nav ul {
  list-style: none;
}
nav {
  border-right: 1px solid gray;
  width: 200px;
  height: 600px;
  float: left;
}
article {
  float: left;
  padding: 20px;
}
#control {
  float: right;
}
